.wrapper {
  background: var(--blue-background-color);
  position: relative;
  z-index: 1;

  &__img {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 290px;
    z-index: -1;
  }
}
