.navigation {
  display: flex;
  justify-content: space-between;
  max-width: 140rem;
  padding: 4.8rem 9.6rem;
  margin: 0 auto;

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4.5rem;

    li {
      a {
        text-decoration: none;
        color: var(--font-gray-color);
        padding-bottom: 1rem;
        font-size: 1.6rem;
        line-height: 2.56rem;

        &:hover {
          color: var(--main-color);
          border-bottom: 2px solid var(--main-color);
          border-radius: 0.1px;
        }
      }
    }
  }
}
