:root {
  --main-color: #35afbf;
  --main-color-hover: #3fd0e4;
  --font-gray-color: #969999;
  --font-gray-two-color: #707273;
  --font-gray-three-color: #4b4c4c;
  --font-white-color: #fff;
  --font-black-color: #252626;
  --main-background-color: #e5e5e5;
  --blue-background-color: #f3feff;
  --footer-background-color: #2c353e;
  --blue-two-background-color: #d1f4f9;
  --button-padding: 1.5rem 3.5rem;
}

body {
  overflow-x: hidden;
}
